

                    </ui-select-choices>
                </ui-select>
            </div>
            <div style="margin-bottom: 5px;">
                <ui-select multiple ng-model="filter.sensors" theme="select2"
                           ng-disabled="disabled"
                           on-select="submit()"
                           on-remove="submit()" style="width: 250px;">
                    <ui-select-match placeholder="Select sensors...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="sensorName in sensorNames | filter:$select.search">
                        {{sensorName}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div style="margin-bottom: 5px;">
                <ui-select multiple ng-model="filter.parameters" theme="select2"
                           ng-disabled="disabled"
                           on-select="submit()"
                           on-remove="submit()" style="width: 250px;">
                    <ui-select-match placeholder="Select parameters...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="param in parameters | filter:$select.search">
                        {{param}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div style="margin-bottom: 5px;">
                <label>Dates</label>
                <input type="text" class="form-control" data-autoclose="1" ng-model="filter.fromDate"
                       placeholder="From" bs-datepicker style="width: 250px;" ng-change="submit()">
            </div>
            <div style="margin-bottom: 5px;">
                <input type="text" class="form-control" data-autoclose="1" ng-model="filter.untilDate"
                       placeholder="Until" bs-datepicker style="width: 250px;">
            </div>

            <div style="margin-bottom: 5px;">
                <label>Elevation (m)</label>
                <rzslider rz-slider-model="filter.altitude.min" rz-slider-high="filter.altitude.max"
                          rz-slider-floor="filter.altitude.floor" rz-slider-ceil="filter.altitude.ceil"></rzslider>
            </div>

            <div style="margin-bottom: 5px;">
                <label>Slope angle (&deg;)</label>
                <rzslider rz-slider-model="filter.slopeAngle.min" rz-slider-high="filter.slopeAngle.max"
                          rz-slider-floor="filter.slopeAngle.floor" rz-slider-ceil="filter.slopeAngle.ceil"></rzslider>
            </div>

            <div style="margin-bottom: 5px;">
                <label>Aspect (&deg;)</label>
                <rzslider rz-slider-model="filter.aspect.min" rz-slider-high="filter.aspect.max"
                          rz-slider-floor="filter.aspect.floor" rz-slider-ceil="filter.aspect.ceil"></rzslider>
            </div>



        </div>
        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <leaflet center="center" layers="layers" height="480px"></leaflet>

                <!--<leaflet  markers="markers" event-broadcast="events" center="center" layers="layers" height="480px"></leaflet>-->

            </div>
        </md-content>

    </section>
</div>

